<div class="border-[1px] rounded-lg p-5 space-y-3 shadow-md w-[1050px]">
  <h2 class="text-xl font-bold">{{ subjectFromMain?.subjectName }}</h2>
  <p>
    {{ subjectFromMain?.description }}
  </p>
  <div class="flex justify-between">
    <div>
      <h3 class="mb-9 mt-9 text-lg font-bold">
        We invest in the world's potential
      </h3>
      <div class="flex items-center gap-x-2">
        <img src="../../../assets/images/checkbox.png" class="w-10 h-10" />
        <span>Dynamic reports and dashboards</span>
      </div>
      <div class="flex items-center gap-x-2">
        <img src="../../../assets/images/checkbox.png" class="w-10 h-10" />
        <span>Templates for everyone</span>
      </div>
      <div class="flex items-center gap-x-2">
        <img src="../../../assets/images/checkbox.png" class="w-10 h-10" />
        <span>Development workflow</span>
      </div>
      <div class="flex items-center gap-x-2">
        <img src="../../../assets/images/checkbox.png" class="w-10 h-10" />
        <span>Limitless busines automation</span>
      </div>
    </div>
    <div class="px-20">
      <img src="{{ subjectFromMain?.thumbnail }}" class="w-60 h-60" />
    </div>
  </div>
</div>
