<div
  class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 h-screen flex flex-col justify-center items-center gap-y-3"
  *appAuthentication="!showMain"
>
  <h3 class="text-white text-lg">
    Welcome to New Angular Homework! <br />
    Please log in to see the content inside.
  </h3>
  <button
    type="button"
    class="bg-gradient-to-r from-pink-500 to-yellow-500 px-5 py-2 rounded-lg text-white"
    (click)="showMain = !showMain"
  >
    Log in
  </button>
</div>

<ng-container *appAuthentication="showMain">
  <app-main
    [showMainFromApp]="showMain"
    (showMainToApp)="getShowMainFromMain($event)"
  ></app-main>
</ng-container>
