<div class="border-[1px] rounded-lg p-5 space-y-3 w-64 shadow-md">
  <h3 class="text-lg font-bold">My Favorite Subject</h3>
  <ng-container *ngFor="let subject of subjects | ascending">
    <button type="button" class="flex items-center bg-slate-200 p-2 rounded-lg gap-x-2 w-full" (click)="selectSubject(subject)">
      <img src="{{ subject?.thumbnail }}" class="w-6 h-6" />
      <span>{{ subject?.subjectName }}</span>
    </button>
  </ng-container>
</div>
<ng-content select=".logOut"></ng-content>
