<div class="flex justify-center items-center h-screen">
  <div class="flex gap-5">
    <app-sidebar (sendSubject)="getSubjectFromSideBar($event)"
      ><button
        class="logOut px-5 py-2 bg-red-500 text-white rounded-lg mt-3"
        (click)="showMainFromAppToFalse()"
      >
        Log Out
      </button></app-sidebar
    >
    <app-content [subjectFromMain]="subject"></app-content>
  </div>
</div>
